iframe{
    position: sticky;
    top: 0px;
}

body{
    margin: 0px;
}
main{
    margin-left: 50px;
}
nav{
    margin-top: 20px;
}
.infoMercury{
    display: flex;
    text-align: justify;
}
.imegesMercury{
    margin: 35px 150px;
}
.videoMercury{
    margin-top: 35px;
    margin-right: 350px;
    margin-bottom: 35px;
}